# Prävalenz von Infektionskrankheiten im Verlauf der Zeit

Gruppenmitglieder: Dennis Bailer, Noemie Frochaux, David Brunner

Fragen:
- Wie ist die Prävalenz von verschiedenen Infektionskrankheiten?
- Warum nehmen gewisse Krankheiten zu- und ab?

Quelle: https://ourworldindata.org/grapher/the-number-of-cases-of-infectious-diseases

## 1. Daten beschaffen und laden

In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [7]:
df = pd.read_csv('Daten Infections Final.csv', skiprows=1,
                 names=['Year','Disease','Prevalence']) 
df.head()

   Year   Disease  Prevalence
0  1920  Smallpox      401318
1  1921  Smallpox      303850
2  1922  Smallpox      190159
3  1923  Smallpox      174799
4  1924  Smallpox      186354

## 2. Daten Vorbereiten

In [8]:
df_pivot = df.pivot(index='Disease', columns='Year', values='Prevalence')
df_pivot.head()

Year,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Disease,,,,,,,,,,,,,,,,,,,,,
Cholera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,172454.0,132113.0,1230000.0,499447.0,923037.0,323369.0,223370.0,NaN,NaN,NaN
Guinea worm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.0,25.0,30.0,28.0,54.0,27.0,15.0,13.0,14.0,15.0
HIV/AIDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2050000.0,2010000.0,1950000.0,1890000.0,1810000.0,1730000.0,1650000.0,NaN,NaN,NaN
Malaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,230050000.0,232730000.0,235190000.0,235400000.0,238820000.0,244890000.0,249120000.0,NaN,NaN,NaN
Paralytic polio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,742.0,294.0,826.0,966.0,3878.0,8771.0,4858.0,6370.0,3752.0,NaN